.background {
  width: 100%;
  height: 500px;
  background: url("../img/background.jpg");
  background-size: cover; }

#navbar {
  background: transparent;
  border-bottom: 0px;
  transition: .5s; }
  #navbar .navbar-brand {
    color: #fff; }
  #navbar .nav li a {
    color: #fff;
    font-weight: bold;
    font-size: 16px; }
  #navbar .navigation {
    transition: .25s; }
  #navbar .navigation.active {
    color: #E26A73; }

#navbar.active {
  background: #fff;
  border-bottom: 0px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75); }
  #navbar.active .navbar-brand {
    color: #E26A73;
    font-weight: bold; }
  #navbar.active .nav li a {
    color: #888;
    font-weight: bold;
    font-size: 16px; }
  #navbar.active .navigation {
    transition: .25s; }
  #navbar.active .navigation.active {
    color: #E26A73; }

#wrapper {
  background: #FEFEFE;
  border: 1px solid #e6e6e6;
  height: 500px;
  display: table;
  padding: 0px;
  margin-top: -300px;
  border-radius: 5px; }
  #wrapper .avatar {
    width: 100%; }
  #wrapper .line {
    display: table;
    width: 100%; }
  #wrapper .subtitle {
    margin-top: 0px;
    font-weight: 500;
    opacity: 0.5; }
  #wrapper .ballon {
    background: #E26A73;
    float: left;
    color: #fff;
    font-weight: bold;
    padding: 5px 20px;
    font-size: 20px;
    position: relative; }
    #wrapper .ballon:after {
      content: '';
      position: absolute;
      border-top: 5px solid #E26A73;
      border-left: 5px solid #E26A73;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      bottom: -10px;
      left: 10px; }
  #wrapper .item-line {
    margin-top: 20px;
    padding-top: 20px; }
    #wrapper .item-line .item {
      font-weight: bold;
      font-size: 18px;
      opacity: 0.9; }
    #wrapper .item-line .reponse {
      font-size: 18px;
      opacity: 0.5; }
  #wrapper .social {
    background: #E26A73;
    width: 100%;
    height: 100px; }

.get-padding {
  margin: 50px; }

.title {
  font-weight: 100 !important;
  color: #444; }

.card-wrapper {
  background: #E26A73;
  position: relative;
  border-radius: 0px;
  border: 0px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  overflow: hidden; }
  .card-wrapper .card .logo {
    width: 50%; }
  .card-wrapper .card .img {
    text-align: center;
    width: 100%;
    margin-top: 50px;
    color: #fff;
    font-size: 150px; }
  .card-wrapper .card .card-title {
    color: #fff;
    font-size: 30px;
    margin-top: 50px; }
  .card-wrapper .card .card-desc {
    color: #fff;
    font-size: 18px; }
  .card-wrapper .description {
    position: absolute;
    left: 0px;
    top: -100%;
    width: 100%;
    height: 100%;
    background: #85C1F5;
    transition: .5s;
    padding: 10px; }
    .card-wrapper .description p {
      color: #fff;
      font-size: 15px; }

.card-wrapper:hover {
  cursor: pointer; }
  .card-wrapper:hover .description {
    top: 0px; }

* {
  font-family: 'Roboto', sans-serif; }

body {
  background: #F0EEF1;
  padding-bottom: 100px; }

h1 {
  color: #666; }

/* Extra Small Devices, Phones */
@media (max-width: 480px) {
  .background {
    display: none !important; }
  #wrapper {
    margin-top: 0px !important; } }
